@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 200% auto;
  animation: gradient 4s linear infinite;
}

@keyframes scroll {
  0% { transform: translate(-50%, 0); opacity: 1; }
  75% { transform: translate(-50%, 8px); opacity: 0; }
  76% { transform: translate(-50%, 0); opacity: 0; }
  100% { transform: translate(-50%, 0); opacity: 1; }
}

.animate-scroll {
  animation: scroll 2s infinite;
}